<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302917600569-1mdkn3e1d0q5j5chds3souhhjlekvsbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302917600569-1mdkn3e1d0q5j5chds3souhhjlekvsbp</string>
	<key>API_KEY</key>
	<string>AIzaSyB24-VNiByNHTxhfSVJBYPI6C0_AKPPckM</string>
	<key>GCM_SENDER_ID</key>
	<string>302917600569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workflowitnow.workflow</string>
	<key>PROJECT_ID</key>
	<string>workflow-bb70c</string>
	<key>STORAGE_BUCKET</key>
	<string>workflow-bb70c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302917600569:ios:6d531fc4f0fffe0b</string>
	<key>DATABASE_URL</key>
	<string>https://workflow-bb70c.firebaseio.com</string>
</dict>
</plist>